.rotary {
    position: relative;
    width: 200px;
    .numbers {
        width: 100%;
        height: auto;
    }
    .dialer {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        
    }
}