.rotary {
    
    user-select: none;
    position: relative;
    width: 300px;
    .numbers {
        text-shadow: 1px 1px 10px gray;
        width: 100%;
        height: auto;
    }
    .dialer {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0;
        
    }

    #num1-hitbox {
        position: absolute;
        top: 28%;
        right: 3%;

        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num2-hitbox {
        position: absolute;
        top: 10%;
        right: 15%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num3-hitbox {
        position: absolute;
        top: 1%;
        right: 31%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num4-hitbox {
        position: absolute;
        top: 2%;
        right: 50%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;

    }

    #num5-hitbox {
        position: absolute;
        top: 7%;
        right: 68%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;

    }

    #num6-hitbox {
        position: absolute;
        top: 24%;
        right: 80%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num7-hitbox {
        position: absolute;
        top: 41%;
        right: 85%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;

    }

    #num8-hitbox {
        position: absolute;
        top: 57%;
        right: 82%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num9-hitbox {
        position: absolute;
        top: 71%;
        right: 74%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }

    #num0-hitbox {
        position: absolute;
        top: 78%;
        right: 59%;
        height: 15%;
        width: 15%;
        cursor: pointer;
        z-index: 999;
    }
}